body {
    background: #eee;
}

*{ 
    box-sizing:border-box;

}
body {
    background: #ccc;
    color: black;
}
  header {
    background: #fff;
    font-family: 'Lily Script One'; 
    font: 100 1rem/1.2 ;
  }
  .logo-combo{
    display: flex;
    align-items: center;
  }
  .logo {
    display: block;
    margin-right: 1rem;
    width: 150px;
  }

  header h1 {
    color:black;
    margin: auto;
    font-size: clamp(2.0rem, 5vw, 2.5rem);margin:0;
  }
  h3 {
    margin:0 auto;
  }

  nav {
    background-color: #000;
  }
  nav ul {
    list-style:none;
    display:flex;
    justify-content:space-between;
    padding:0;
    margin:0;
}
nav a {
    display:block;
    margin: 10px;
    color:white;
    text-decoration:none;
  }
  main {
    background-color: #000;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 1rem;
 
  }
  main img {
    object-fit:cover;
    width:100%;
    height:100%;
  }
  .container { 
    height: 200px;
    border: 3px solid black; 
  }
  button {
    margin-left:50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #000;
    transform: translateY(4px);
  }
  .button{
    background-color: grey;
    -webkit-animation: simple-scale 1s 1s linear infinite alternate;
    animation: simple-scale 1s 1s linear alternate;
  }
  .food {
    padding-top: 1rem;
  }
  .box {
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../images/burger.jpg);
    transition:
      width 2s,
      height 2s,
      background-color 2s,
      rotate 2s;
  }
  
  .box:hover {
    background-image: url(../images/pizza.jpg);
    width: 200px;
    height: 200px;
    rotate: 360deg;
  }

  .animation {
    padding: 2rem;
    font-size: 18pt;
    margin: 0;
    position: relative;
    animation: animation 2s ease-out;
  }

.slide-in {
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

@keyframes animation {
    0% {
      opacity: 0;
      left: -700px;
    }

    100% {
      opacity: 1;
      left: 0;
    }
  }

  footer {
    width:100px;
    height: 100px;
  }